{% extends 'base.html' %} {% block title %}All Cafes{% endblock %} {% block
content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>

      <table class="table" style="color: white">
        {% for row in cafes %}
        <tr>
          {% for item in row %} {% if loop.index == 1 %}
          <td><a href="{{ url_for('edit_cafe', cafe_id=row[0]) }}">Edit</a></td>
          {% elif item[0:4] == "http" %}
          <td><a href="{{ item }}">Maps Link</a></td>
          {% else %}
          <td>{{ item }}</td>
          {% endif %} {% endfor %}
          <td>
            <form
              action="{{ url_for('delete_cafe', cafe_id=row[0]) }}"
              method="POST"
              style="display: inline"
            >
              <button type="submit" class="btn btn-danger btn-sm">
                Delete
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <p><a href="{{ url_for('home') }}">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
